[Unit]
Description=Docker Open vSwitch network driver control server

[Service]
User=docker-ovs-control
Group=docker-ovs-control
WorkingDirectory=/home/docker-ovs-control/suutip/docker-ovs
PIDFile=/run/docker-ovs-control/gunicorn.pid
ExecStart=/home/docker-ovs-control/.virtualenvs/docker-ovs-control/bin/gunicorn \
	--pid /run/docker-ovs-control/gunicorn.pid \
	--bind 0.0.0.0:5000 \
	control:application
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID

[Install]
WantedBy=multi-user.target
