{% include 'dashboard/_header.html' %}
{% load staticfiles %}

<script>
    var total_risk_levels = 4;
    var risk_level_labels = ['Neutral', 'Low', 'Moderate', 'High'];
</script>

<div class="container-fluid container-pf-alt-nav-pf-vertical-alt">
    <div class="page-header">
        <h1>Charts</h1>
    </div>

    <div class="row">
        <div class="col-lg-6 col-sm-12">
            <h3>Last 10 minutes</h3>
        </div>

        <div class="col-lg-6 col-sm-12">
            <h3>New flows by hour</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6 col-sm-12">
            <div id="tenMinChart" class="line-chart-pf"></div>
            <script>
                var tenMinChartDataColumns = [
                    ['Low risk', 30, 200, 100, 400, 150, 250],
                    ['Neutral', 50, 220, 310, 240, 115, 25],
                    ['Moderate risk', 70, 100, 390, 295, 170, 220],
                    ['High risk', 10, 340, 30, 290, 35, 20],
                    ['Total', 80, 810, 550, 1200, 560, 560]
                ];

                var c3ChartDefaults = $().c3ChartDefaults();
                var tenMinChartConfig = c3ChartDefaults.getDefaultLineConfig();
                tenMinChartConfig.bindto = '#tenMinChart';
                tenMinChartConfig.data = {
                    columns: tenMinChartDataColumns,
                    type: 'line',
                    colors: {
                        'Low risk': '#006e9c',
                        'Neutral': '#3f9c35',
                        'Moderate risk': '#ec7a08',
                        'High risk': '#c00',
                        'Total': '#999'
                    }
                };
                tenMinChartConfig.axis = {
                    y: {
                        label: 'New flows / minute'
                    },
                    x: {
                        label: 'Time'
                    }
                };
                tenMinChartConfig.point = {
                    show: false
                };
                var tenMinChart = c3.generate(tenMinChartConfig);
            </script>

        </div>

        <div class="col-lg-6 col-sm-12">
            <div id="avgDayChart" class="line-chart-pf"></div>
            <script>
                var avgDayChartDataColumns = [
                    ['Low risk', 0, 0, 0, 0, 0, 2, 3, 4, 5, 7, 4, 2, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
                    ['Neutral', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
                    ['Moderate risk', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
                    ['High risk', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
                    ['Total', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
                ];

                var c3ChartDefaults = $().c3ChartDefaults();
                var avgDayChartConfig = c3ChartDefaults.getDefaultLineConfig();
                avgDayChartConfig.bindto = '#avgDayChart';
                avgDayChartConfig.data = {
                    columns: avgDayChartDataColumns,
                    type: 'line',
                    colors: {
                        'Low risk': '#006e9c',
                        'Neutral': '#3f9c35',
                        'Moderate risk': '#ec7a08',
                        'High risk': '#c00',
                        'Total': '#999'
                    }
                };
                avgDayChartConfig.axis = {
                    y: {
                        label: 'New flows'
                    },
                    x: {
                        label: 'Hour of day'
                    }
                };
                avgDayChartConfig.point = {
                    show: false
                };
                var avgDayChart = c3.generate(avgDayChartConfig);
            </script>

        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 col-sm-12">
            <h3>Full history</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 col-sm-12">
            <div id="allChart" class="line-chart-pf"></div>
            <script>
                var allChartLabels = ['x'].concat(risk_level_labels).concat(['Total']);

                var allChartDataRows = [
                    allChartLabels
                ];

                var allChartTotals = [];
                for(var i = 0; i < total_risk_levels; i++) {
                    allChartTotals.push(0);
                }
                var allChartTotalFlows = 0;

                //var allChartDataColumns = [
//                    ['x', '2016-06-19T15:00:00Z', '2016-06-19T15:00:00Z', '2016-06-19T15:25:00Z', '2016-06-20T01:07:00Z', '2016-06-20T03:00:00Z', '2016-06-20T05:00:00Z'],
//                    ['Low risk', 30, 200, 100, 400, 150, 250],
//                    ['Neutral', 50, 220, 310, 240, 115, 25],
//                    ['Moderate risk', 70, 100, 390, 295, 170, 220],
//                    ['High risk', 10, 340, 30, 290, 35, 20],
//                    ['Total', 80, 810, 550, 1200, 560, 560]
//                ];

                var c3ChartDefaults = $().c3ChartDefaults();
                var allChartConfig = c3ChartDefaults.getDefaultLineConfig();
                allChartConfig.bindto = '#allChart';
                allChartConfig.data = {
                    x: 'x',
                    xFormat: '%Y-%m-%dT%H:%M:%SZ',
                    type: 'area-step',
                    rows: allChartDataRows,
                    colors: {
                        'Low': '#006e9c',
                        'Neutral': '#3f9c35',
                        'Moderate': '#ec7a08',
                        'High': '#c00',
                        'Total': '#999'
                    }
                };
                allChartConfig.axis = {
                    x: {
                        type: 'timeseries',
                        tick: {
                            format: '%Y-%m-%d %H:%M',
                            count: 8
                        },
                        label: 'Time'
                    },
                    y: {
                        label: 'Total flows'
                    }
                };
                allChartConfig.point = {
                    show: false
                };
                var allChart = c3.generate(allChartConfig);

                var updateAllChart = function(dataChunk) {
                    if(dataChunk.length == 0) {
                        return;
                    }

                    var rowsToAdd = [allChartLabels];

                    dataChunk.forEach(function(flow) {
                        var risk = parseInt(flow.risk);
                        allChartTotalFlows += 1;
                        allChartTotals[risk] = allChartTotals[risk] + 1;
                        var row = [flow.date].concat(allChartTotals).concat([allChartTotalFlows]);
                        rowsToAdd.push(row);
                    });
                    allChart.flow({
                        rows: rowsToAdd,
                        length: 0
                    });
                }
            </script>

        </div>
    </div>

    <script>
        var flows_data = {};

        var get_id_from_url = function(url) {
            var tokens = url.split("/");
            return parseInt(tokens[tokens.length-2]);
        };

        var updateData = function(start) {
            $.ajax({
                url: '/rest/flows/?start=' + start,
                success: function (data) {
                    flows_data = data;
                    updateAllChart(flows_data);

                    var nextId = start;
                    if(data.length > 0) {
                        nextId = get_id_from_url(data[data.length-1].url) + 1;
                    }

                    setTimeout(function() {
                        updateData(nextId);
                    }, 60000);
                }
            });
        };

        updateData(0);
    </script>

</div>
{% include 'dashboard/_footer.html' %}
