{% include 'dashboard/_header.html' %}
{% load staticfiles %}

<div class="container-fluid container-pf-alt-nav-pf-vertical-alt">
<div class="page-header">
  <h1>Flows</h1>
</div>

<div id="flowTable">
  <table class="datatable table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th>Date</th>
        <th>Source</th>
        <th>Destination</th>
        <th>Protocol</th>
        <th>Source port</th>
        <th>Destination port</th>
        <th>Risk</th>
      </tr>
    </thead>
    <tbody></tbody>
  </table>
</div>
<div id="loading">
  Loading, please wait...
</div>
<script>
  // Initialize Datatables
  $(document).ready(function() {
    $("#flowTable").hide();
    var table = $('.datatable').DataTable({
      order: [[0, 'desc']]
    });
    table.search("{{ search }}");
    $.ajax("{% url 'flow-list' %}")
      .done(function(data){
        $("#loading").remove();
        $("#flowTable").show();
        data.forEach(function(flow) {
          var flowLabels = {
            '-1': 'unrated',
            '0': 'low',
            '1': 'neutral',
            '2': 'moderate',
            '3': 'high'
          };
          var protocolLabels = {
            '2054': 'ARP',
            '1': 'ICMP',
            '6': 'TCP',
            '17': 'UDP'
          };
          var flowClasses = {
            '-1': '',
            '0': 'success',
            '1': 'info',
            '2': 'warning',
            '3': 'danger'
          };
          var addedRow = table.row.add([
            moment(flow.date).tz("Europe/Warsaw").format("YYYY-MM-DD HH:mm:ss"),
            flow.source_ip + (flow.source ? (' (' + flow.source + ')') : ''),
            flow.target_ip + (flow.target ? (' (' + flow.target + ')') : ''),
            protocolLabels[flow.protocol.toString()],
            flow.source_port.toString(),
            flow.target_port.toString(),
            flowLabels[flow.risk.toString()]
          ]).draw().node();
          $(addedRow).addClass(flowClasses[flow.risk.toString()]);
        });
      });
  });
</script>
</div>
{% include 'dashboard/_footer.html' %}
