{% include 'dashboard/_header.html' %}
{% load staticfiles %}

<div class="container-fluid container-pf-alt-nav-pf-vertical-alt">
<div class="page-header">
  <h1>Flows</h1>
</div>

<table class="datatable table table-striped table-bordered table-hover">
  <thead>
    <tr>
      <th>Date</th>
      <th>Source IP</th>
      <th>Destination IP</th>
      <th>Protocol</th>
      <th>Source port</th>
      <th>Destination port</th>
      <th>Risk</th>
    </tr>
  </thead>
  <tbody>
  {% for ob in object_list %}
    <tr class="{% if ob.get_risk_display == "low" %}success{% elif ob.get_risk_display == "netural"%}info{% elif ob.get_risk_display == "moderate"%}warning{% elif ob.get_risk_display == "high"%}danger{% endif %}">
      <td>{{ ob.date|date:"Y-m-d H:i:s" }}</td>
      <td>{{ ob.source_ip }}</td>
      <td>{{ ob.target_ip }}</td>
      <td>{{ ob.get_protocol_display }}</td>
      <td>{{ ob.source_port }}</td>
      <td>{{ ob.target_port }}</td>
      <td>{{ ob.get_risk_display }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
<script>
  // Initialize Datatables
  $(document).ready(function() {
    $('.datatable').dataTable({
      order: [[0, 'desc']]
    });
  });
</script>
</div>
{% include 'dashboard/_footer.html' %}
