{% include "dashboard/_header.html" %}
{% load staticfiles %}
{% load progress_bar_helper %}

<div class="container-fluid container-pf-alt-nav-pf-vertical-alt">
<div class="page-header">
  <h1>Overview</h1>
</div>

  <div class="container-fluid container-cards-pf">
    <div class="row row-cards-pf">
      <div class="col-xs-12 col-sm-12 col-md-12">
        <div class="card-pf card-pf-aggregate-status">
          <h2 class="card-pf-title">Total flows:</h2>
          <div class="card-pf-body">
            <p class="card-pf-aggregate-status-notifications">
              <span class="card-pf-aggregate-status-notification">
                <span class="fa fa-exchange"></span>
                <a href="{% url 'flow_list' %}">{{ object_list.count }}</a>
              </span>
            </p>
          </div>
        </div>
      </div>
      <div class="col-xs-3 col-sm-3 col-md-3">
        <div class="card-pf card-pf-aggregate-status card-pf-with-action">
          <h2 class="card-pf-title">ARP flows:</h2>
          <div class="card-pf-body">
            <p class="card-pf-aggregate-status-notifications">
              <span class="card-pf-aggregate-status-notification">
                <span class="fa fa-exchange"></span>
                <a href="{% url 'flow_list' %}?search=ARP">{{ arp.count }}</a>
              </span>
            </p>
          </div>
        </div>
      </div>
      <div class="col-xs-3 col-sm-3 col-md-3">
        <div class="card-pf card-pf-aggregate-status card-pf-with-action">
          <h2 class="card-pf-title">ICMP flows:</h2>
          <div class="card-pf-body">
            <p class="card-pf-aggregate-status-notifications">
              <span class="card-pf-aggregate-status-notification">
                <span class="fa fa-exchange"></span>
                <a href="{% url 'flow_list' %}?search=ICMP">{{ icmp.count }}</a>
              </span>
            </p>
          </div>
        </div>
      </div>
      <div class="col-xs-3 col-sm-3 col-md-3">
        <div class="card-pf card-pf-aggregate-status card-pf-with-action">
          <h2 class="card-pf-title">TCP flows:</h2>
          <div class="card-pf-body">
            <p class="card-pf-aggregate-status-notifications">
              <span class="card-pf-aggregate-status-notification">
                <span class="fa fa-exchange"></span>
                <a href="{% url 'flow_list' %}?search=TCP">{{ tcp.count }}</a>
              </span>
            </p>
          </div>
        </div>
      </div>
      <div class="col-xs-3 col-sm-3 col-md-3">
        <div class="card-pf card-pf-aggregate-status card-pf-with-action">
          <h2 class="card-pf-title">UDP flows:</h2>
          <div class="card-pf-body">
            <p class="card-pf-aggregate-status-notifications">
              <span class="card-pf-aggregate-status-notification">
                <span class="fa fa-exchange"></span>
                <a href="{% url 'flow_list' %}?search=UDP">{{ udp.count }}</a>
              </span>
            </p>
          </div>
        </div>
      </div>
      <div class="col-xs-3 col-sm-3 col-md-3">
        <div class="card-pf card-pf-aggregate-status card-pf-with-action">
          <h2 class="card-pf-title">
            <span class="text-success">Low risk:</span>
          </h2>
          <div class="card-pf-body">
            <p class="card-pf-aggregate-status-notifications">
              <span class="card-pf-aggregate-status-notification">
                <span class="fa fa-check-circle-o text-success"></span>
                <a href="{% url 'flow_list' %}?search=low">{{ low.count }}</a>
              </span>
            </p>
          </div>
        </div>
      </div>
      <div class="col-xs-3 col-sm-3 col-md-3">
        <div class="card-pf card-pf-aggregate-status card-pf-with-action">
          <h2 class="card-pf-title">
            <span class="text-info">Neutral:</span>
          </h2>
          <div class="card-pf-body">
            <p class="card-pf-aggregate-status-notifications">
              <span class="card-pf-aggregate-status-notification">
                <span class="fa fa-question-circle text-info"></span>
                <a href="{% url 'flow_list' %}?search=neutral">{{ neutral.count }}</a>
              </span>
            </p>
          </div>
        </div>
      </div>
      <div class="col-xs-3 col-sm-3 col-md-3">
        <div class="card-pf card-pf-aggregate-status card-pf-with-action">
          <h2 class="card-pf-title">
            <span class="text-warning">Moderate risk:</span>
          </h2>
          <div class="card-pf-body">
            <p class="card-pf-aggregate-status-notifications">
              <span class="card-pf-aggregate-status-notification">
                <span class="fa fa-exclamation-triangle text-warning"></span>
                <a href="{% url 'flow_list' %}?search=moderate">{{ moderate.count }}</a>
              </span>
            </p>
          </div>
        </div>
      </div>
      <div class="col-xs-3 col-sm-3 col-md-3">
        <div class="card-pf card-pf-aggregate-status card-pf-with-action">
          <h2 class="card-pf-title">
            <span class="text-danger">High risk:</span>
          </h2>
          <div class="card-pf-body">
            <p class="card-pf-aggregate-status-notifications">
              <span class="card-pf-aggregate-status-notification">
                <span class="fa fa-exclamation-circle text-danger"></span>
                <a href="{% url 'flow_list' %}?search=high">{{ high.count }}</a>
              </span>
            </p>
          </div>
        </div>
      </div>
    </div><!-- /row -->
  <div class="progress">
  {% if low.count %}
  <div class="progress-bar progress-bar-success" style="width:{% progress_bar_width low.count object_list.count 100 %}%">Low</div>
  {% endif %}
  {% if neutral.count %}
  <div class="progress-bar progress-bar-info" style="width:{% progress_bar_width neutral.count object_list.count 100 %}%">Neutral</div>
  {% endif %}
  {% if moderate.count %}
  <div class="progress-bar progress-bar-warning" style="width:{% progress_bar_width moderate.count object_list.count 100 %}%">Moderate</div>
  {% endif %}
  {% if high.count %}
  <div class="progress-bar progress-bar-danger" style="width:{% progress_bar_width high.count object_list.count 100 %}%">High</div>
  {% endif %}
</div>
  </div><!-- /container -->
  <script src="{% static "matchHeight/jquery.matchHeight-min.js" %}"></script>
  <script>
    $(function() {
      // matchHeight the contents of each .card-pf and then the .card-pf itself
      $(".row-cards-pf > [class*='col'] > .card-pf .card-pf-title").matchHeight();
      $(".row-cards-pf > [class*='col'] > .card-pf > .card-pf-body").matchHeight();
      $(".row-cards-pf > [class*='col'] > .card-pf > .card-pf-footer").matchHeight();
      $(".row-cards-pf > [class*='col'] > .card-pf").matchHeight();
      // initialize tooltips
      $('[data-toggle="tooltip"]').tooltip();
    });
  </script>
</div>

{% include "dashboard/_footer.html" %}
